<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Certification</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <h2>Certification - Version {{version}}</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Test Results</h3>
            </div>
            <table class="table table-bordered">
                {{#each models}}
                    <tr><td>
                        <a href="/view/{{this}}">{{this}}</a>
                    </td></tr>
                {{/each}}
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Upload Test Results</h3>
            </div>
            <div class="panel-body">
                <form action="/upload" method="post" enctype="multipart/form-data" style="max-width: 300px">
                    <div class="form-group">
                        <label for="model">Model:</label>
                        <select class="form-control" id="model">
                            {{#each models}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="file">Archive:</label>
                        <input type="file" id="file">
                    </div>

                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </body>
</html>